<!DOCTYPE html>
<html>
    <head>
        <title>
            Meadowlark Travel
        </title>
        <link rel="stylesheet" href="/meadowlark.css" />
    </head>
    <body>
    <header>
        <img src="/imgs/cat--114.png" alt="logocat" class="logo"/>
    </header>
        {{{body}}}
    </body>
</html>